body {
    min-height: 100vh;
    display: ;
    align-items:center;
    justify-content: center;
    text-transform: capitalize;
    font-family: work sans, sans-serif;
    background: #20c126;
    margin: 0;
}

.main {
    position: relative;
    height: 35vw;
    width: 100%;
    background-color: #ffffff;
    background-image: url(https://static.tumblr.com/e8siabx/oJyqogvk9/jedzeniowegif.gif);

    // https://static.tumblr.com/e8siabx/oJyqogvk9/jedzeniowegif.gif
    // https://static.tumblr.com/e8siabx/rv6qo2frp/zielone_ikony.png
    // https://static.tumblr.com/e8siabx/b10qo2h1r/ikonkiiii.png

    background-position: left top;
    background-repeat: repeat;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -ms-flex-align: center;
    -webkit-align-items: center;
    -webkit-box-align: center;
    align-items: center;
    -webkit-transition: 0.2s ease-in-out;
    -moz-transition: 0.2s ease-in-out;
    -o-transition: 0.2s ease-in-out;
    transition: 0.2s ease-in-out;
}
.main h1 {
    font-family: 'poppins', sans-serif;
    font-size: 13vw;
    font-weight: 800;
    color: #20c126;
    
    line-height: 10vw;
    position: absolute;
    bottom: -1vw
    ;
    margin-bottom: 0
}


.main2 {
position: relative;
    height: 100%;
    float:left;
    padding: 30px;
    
    background-position: left top;
    background-repeat: repeat;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    flex-direction: column;
    -ms-flex-align: center;
    -webkit-align-items: center;
    -webkit-box-align: center;
    align-items: baseline;
    -webkit-transition: 0.2s ease-in-out;
    -moz-transition: 0.2s ease-in-out;
    -o-transition: 0.2s ease-in-out;
    transition: 0.2s ease-in-out;
}
#wybierz {
    color: #20c126;
    outline: none;
    border: none;
    background: white;
    font-size: 1.4rem;
    padding: 0.3 rem;
    /* border-radius: 10px; */
    cursor: pointer;
    margin-top: 1vw;
    

}

#wybierz h3 {

    font-family: 'poppins', sans-serifs;
    font-size: 2vw;
    margin: 2vw 3vw;
}

#wybierz:hover {
    color: rgb(64, 64, 68);
}

blockquote {
    
    font-family: 'poppins', sans-serif;
    margin-left:0;
    float: left;
   

}

blockquote h2 {
    font-size: 9vw;
    color: #ffffff;
    margin: 1vw 1vw;
}



#autor {
    color: rgb(44, 44, 40);
    float: left;
    margin: 9vw 0vw;
    font-size: 3vw;
}

#autor h3 {
    float: left;
    margin: 7vw 0vw;
    font-size: 3vw;
}
.wyswietl {
    transition: all .3s ease-out;
}
